* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	background-color:  #00101d;
	
}

.menu-bar {
    width: 100vw;
    height: 5vh;
}
.editor {
	width: 100vw;
	height: 95vh;
	display: grid;
	grid-template-columns: 12.5rem 1fr 3rem;
}

/* Menu bar */

.menu_bar {
	margin: 0;
	padding: 2rem ;
}



/* Dropdown items */
.dropdown-button {
    display: block;
    font-family: Inter;
    color: white;
    color: #aaa;
    background-color: #000b14;
    margin: 0.3rem auto;
    padding: 0.5rem 0.7rem ;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000810;
  margin-left: 0.6rem;
  min-width: 8rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Menu items in dropdown */
.dropdown-content a {
  color: #aaa;
  font-family: Inter;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}

/* Temporary style for disabled items */

label {
    font-size: 0.5rem;
}

/* Dropdown appears when hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Highlight dropdown links when hovered over */
.dropdown-content a:hover {
    background-color: #193349;
    
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Pyrite Logo */
.centered-emphasis {
    float: right;
    font-family: Inter;
    text-decoration: none;
    text-align: center;
    color: #aaa;
    display: block;
    font-size: 1rem;
    margin-left: 0;
    margin-right: 35rem;
    padding: 0.5rem;
}


/* Radial Out Transition - forked from HoverCSS */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: none;
  transition-property: color;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:  #193349;
  border-radius: 100%;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  transform: scale(2);
}

/* Left side panel */

.editor__panel {
	background: #00101d;
	padding: 2rem 1rem;
}

/* Opened files list */

.editor__panel details {
  padding: 0.8rem 0.6rem;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: #aaa;
  font-family: Inter;
}

.buttons {
	text-align: left;
  cursor: pointer;
  color: inherit;
  background: none;
  border: none;
  font-size: 0.7rem;
  font-family: inherit;
  padding: 0.4rem 1rem;
}

.buttons:hover {
  transition: all 0.1s ease-out;
  background: #193349;
}

.highlighted {
	background: #001d35;
	margin-top: 1rem;
	border-radius: 0.2rem;
}

#inputfile {
    display: none;
}

.editor_sidebar {
    background: #000810;
}

/*Editable Content*/

code {
	outline: none;
	padding: 3rem;
	background: #000b14;
	font-family: "Source Code Pro", monospace;
	font-size: 0.8rem;
	color: #eff;
	counter-reset: line;
	overflow-x: hidden;
	scrollbar-width: none;
	}

code:focus {
  outline: none;
}

/*Line numbers for code*/

code p {
	counter-increment: line;
	position: relative;
	
}

code p:before {
	position: absolute;
	top: 0;
	left: -1.75rem;
	color: #50646d;
	user-select: none;
	content: counter(line);
}

/*Make page 1 the default opened file*/

#page-1 {
    display: block;
}

/* Hide the other opened files */

#page-2, #page-3, #page-4, #page-5 {
	display: none;
}

/* The about page */

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  border-radius: 0.5rem;
}

.about-content {
    margin: auto;
    padding: 4rem 5rem;
    background: #15132a;
    display: inline-block;
}


.about {
    font-family: Inter;
    color: #aaa;
    font-size: 1rem;
    padding: 0.5rem;
}

.about-h1 {
    font-family: Inter;
    color: #aaa;
    font-size: 2.5rem;
    
}

.about-header {
    display: flex;
}

.svg-icons {
    width: 60%;
    height: auto;
    padding: 0.3rem;
}

.svg-icons:hover {
    background: #302c63;
    border-radius: 0.15rem;
}

.close {
    position: relative;
    padding-left: 18rem;
    padding-right: 0.5rem;
}


.main-icon {
    width: 40%;
    height: auto;
    padding-left: 1rem;
    padding-right: 4rem;
}

/* For toast notifications */

#toast,
#toast[hidden] {
  display: block;
  font-family: Inter;
  position: fixed;
  left: 50%;
  bottom: 0;
  padding: 6px 20px;
  min-width: 30%;
  max-width: 80%;
  background: #333;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  transition: all 500ms ease;
  visibility: visible;
  white-space: pre-wrap;
  line-height: 2;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  will-change: transform, opacity;
  overflow: hidden;
  contain: content;
}
#toast[hidden] {
  transform: translateX(-50%) translateY(120%);
  opacity: 0;
}
#toast.error {
  color: #fcc;
  background: #511;
}

.bootstrap-icon {
    margin: auto;
    padding: 0.7rem;
}

.bootstrap-icon-svg {
    fill: #50646d;
}

.bootstrap-icon-svg:hover {
    fill: #aaa;
    width: 1.7rem;
    height: 1.7rem;
}
