* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
	background-color: #21242B;
	font-size: 0.75rem;
  color: #aaa;
}

.titlebar {
  display: flex;
  width: 100%;
}

.titlebar-spanner {
  display: flex;
  width: 93%;
}

.titlebar-spanner p {
  margin: auto;
}

.window-icons {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

.window-icons svg {
  width: 0.7rem;
}


.editor-container {
	height: 100%;
	display: grid;
	grid-template-columns: 12.5rem 1fr;
}

.editor-frame {
    background: #282C34;
    width: 100%;
    height: 100%;
    padding: 1.5rem 0;
}

#editor {
    width: 100%;
    height: 100%;
}

/* Dropdown items */
.dropdown-button {
    display: block;
    font-family: Inter;
    background-color: #282C34;
    margin: 0.3rem auto;
    padding: 0.25rem 0.5rem ;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #282C34;
  margin-left: 0.6rem;
  min-width: 8rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Menu items in dropdown */
.dropdown-content p {
  color: #aaa;
  font-family: Inter;
  padding: 0.5rem 0.7rem;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Dropdown appears when hovered over */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Radial Out Transition - forked from HoverCSS */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: none;
  transition-property: color;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:  #282C34;
  border-radius: 100%;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  transform: scale(2);
}

/* Left side panel */

.editor-sidebar {
	padding: 2rem 1rem;
}

/* Opened files list */

.editor-sidebar details {
  padding: 0.8rem 0.6rem;
  margin: 0.5rem 0;
  color: #aaa;
	font-size: 0.75rem;
  font-family: Inter;
}

.buttons {
	text-align: left;
  cursor: pointer;
  color: inherit;
  background: none;
  border: none;
  font-family: inherit;
  padding: 0.4rem 1rem;
}

.buttons:hover {
  transition: all 0.1s ease-out;
  background: #193349;
}


/* For toast notifications */

#toast,
#toast[hidden] {
  display: block;
  font-family: Inter;
  position: fixed;
  left: 50%;
  bottom: 0;
  padding: 6px 20px;
  min-width: 30%;
  max-width: 80%;
  background: #333;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  transition: all 500ms ease;
  visibility: visible;
  white-space: pre-wrap;
  line-height: 2;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  will-change: transform, opacity;
  overflow: hidden;
  contain: content;
}
#toast[hidden] {
  transform: translateX(-50%) translateY(120%);
  opacity: 0;
}
#toast.error {
  color: #fcc;
  background: #511;
}

.bootstrap-icon {
    margin: auto;
    padding: 0.7rem;
}

.bootstrap-icon-svg {
    fill: #50646d;
}

.bootstrap-icon-svg:hover {
    fill: #aaa;
    width: 1.7rem;
    height: 1.7rem;
}

.icon {
  margin: 0.5rem auto;
  display: block;
  padding-left: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.icon::before {
  content: "";
  position: absolute;
  margin-left: -1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.icon-zoom-in::before {
  background: url("icons/zoom-in.svg");
}

.icon-zoom-out::before {
  background: url("icons/zoom-out.svg");
}
